*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
  line-height: normal;
  overflow-wrap: anywhere;
  min-block-size: 100svh;
  -webkit-font-smoothing: antialiased;
}

abbr {
  cursor: help;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#root {
  isolation: isolate;
}
