.slider {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 0.5em;
  align-items: center;
}

.list {
  display: grid;
  grid-template-rows:
    [time] max-content
    [icon] min-content
    [temperature] max-content
    [precipitation] max-content;
  grid-auto-columns: 96px;
  grid-auto-flow: column;
  gap: 0.5em;
  overflow: hidden;
}

.item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;
  justify-items: center;
  padding: 0.5em 1em;
  text-align: center;
  white-space: nowrap;
  background-color: var(--foreground-color);
  border-radius: var(--radius-md);
}

.precipitation {
  display: inline-flex;
  justify-self: center;
}
