.list {
  display: grid;
  grid-template-columns:
    [date] max-content
    [icon] min-content
    [condition] auto
    [temperature] max-content;
  gap: 0.5em;
  margin-inline: -0.5em;
}

.date,
.day {
  white-space: nowrap;
}

.day {
  text-transform: capitalize;
}

.condition {
  text-wrap: balance;
}

.temperature {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.1;
}

.item {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  align-items: center;
  padding: 0.5em;
  background-color: var(--foreground-color);
  border-radius: var(--radius-lg);

  &.weekend {
    background-color: #ff6c6530;
    & .day {
      color: #ff6c65;
    }
  }
}
