.input {
  padding: 0.7em;
  font-size: 1.125rem;
  color: var(--color-text);
  outline: none;
  background-color: var(--color-component);
  border: none;
  border-radius: 0.6em;

  &::placeholder {
    color: color-mix(in srgb, var(--color-component) 70%, white 30%);
  }
}
